eden:
    #test binary
    test-bin: "eden.escript.test"

    #test scenario
    test-scenario: "eden.escript.tests.txt"

test:
    controller: adam://{{EdenConfig "adam.ip"}}:{{EdenConfig "adam.port"}}
    eve:
      Node1:
        onboard-cert: {{EdenConfigPath "eve.cert"}}
        serial: "{{EdenConfig "eve.serial"}}"
        model: {{EdenConfig "eve.devmodel"}}
