---
name: Eden
on: # yamllint disable-line rule:truthy
  pull_request_target:
    branches: [master]
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run_tests:
    name: Execute Eden test workflow
    uses: ./.github/workflows/test.yml
    with:
      eve_image: "lfedge/eve:13.3.0"
    secrets: inherit
