---
name: Unit tests
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: [master]

jobs:
  unit:
    runs-on: self-hosted
    steps:
      - name: get eden
        uses: actions/checkout@v4.1.1
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - name: run tests
        run: go test -json $(go list ./... | grep -v /eden/tests/) > test.json
      - name: Annotate tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.5.1
        with:
          test-results: test.json
